
 #main,
 .col-right,
 .col-left
 {
	height: 500px;
 }
 
 #cookies-enabled,
 #java-enabled,
 #flash-enabled,
 #js-enabled
 {
	height: 1.5em;
	margin: 1em 0;
	padding-left: 1.5em;
 }
 
 #my-browser,
 #my-ip,
 #my-language,
 #my-screenres
 {
	height: 1.5em;
	font-size: 120%;
 }
 
.is-enabled
 {
	background: url('/library/img/true.png') no-repeat 0 0;
 }
 
.is-disabled
 {
	background: url('/library/img/false.png') no-repeat 0 0;
 }
 
.is-visible 
{
	display: inline;
}

.is-hidden
{
	display: none;
}

.noscript
{
   visibility: hidden;
}