

body,html {
    margin:0;
}

main
{
	height: 87vh;
	overflow: auto;
}

.header-wrapper
{
	position: fixed;
	height: 13vh;
	top: 0;
	left: 0;
	z-index: 1001;
}

header, .header-wrapper
{
	background-color: #fff;
    width: 100%;
}

.hide-menu, .show-menu
{
	padding: 0.5em;
	font-size: 150%;
    position:absolute;
    z-index:1050;
	top: 0;
	left: 0;
}

.show-menu 
{
	display: none;
}

#location-map {
    position:absolute;
    z-index:200;
}

.invalid input,
.overlay-field.invalid
{
    background:#ffcccc;
}

.valid input,
.overlay-field.valid
{
    background:#ccffcc;
}

.overlay-field
{
    position:absolute;
    opacity:0.6;
    z-index:100;
	white-space: nowrap;
	padding: 2px;
}

.overlay
{
	display: none;
	position: fixed;
	text-align: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000000;
	opacity: 0.7;
	background: #333;
}

.navbar
{
	height: 6vh;
	display: block;
	clear: both;
	background-color: #404041;
	color: #fff;
	width: 100%;
}

.navbar a
{
	height: 4vh;
	font-size: 150%;
}

header
{
height: 7vh;
border-bottom: 0;
}

#document 
{
  position:absolute;
	top: 13vh;
}

input 
{
	background-color: transparent;
	color: #000;
	}

main input[type=text]
{
	max-width:70%;
}

main input[type=date]
{
	max-width:100%;
}

.invalid.highlighted
{
	border: 2px solid darkred;
	opacity: 0.9 !important;
}

.valid.highlighted
{
	border: 2px solid #003300;
}

.form-layout label,
.form-layout input[type=text],
.form-layout input[type=date]
{
	display: table-cell;
	text-align: left !important;
}

.page
{
	border-radius: 50%;
	background-color: #000;
	color: #fff;
	position: absolute;
	padding: 0.5em 0.75em;
	z-index: 999;
    -webkit-box-shadow: 4px 3px 4px 0px rgba(168,168,168, 0.75);
    -moz-box-shadow: 4px 3px 4px 0px rgba(168,168,168, 0.75);
    box-shadow: 4px 3px 4px 0px rgba(168,168,168, 0.75);
}

.page a, .page a:visited
{
	color: #fff !important;
	font-weight: bold !important;
	display: block;
	
}

#json-document
{
	width: 34%;
	position: relative;
}

.multi-doc
{
	margin-bottom: 6px;
	padding: 1em;
	float: left;
	position: absolute;
	top: 1vh;
	width: 95%;
	height: 65vh;
	color: #000;
	background-color: #fff;
	border: 1px solid #000;
    -webkit-box-shadow: 4px 3px 4px 0px rgba(168,168,168, 0.75);
    -moz-box-shadow: 4px 3px 4px 0px rgba(168,168,168, 0.75);
    box-shadow: 4px 3px 4px 0px rgba(168,168,168, 0.75);
}

.button.disabled
{
  border: 1px solid #ADB2B5;
  text-shadow: 1px 1px #fff;
  cursor:default;
  background: #F4F4F4 !important;
  color:#ADB2B5;
  box-shadow: none;
}

.toggle
{
	margin: 0 0.5em;
}

.pagination
{
	margin: 0 0.5em;
	cursor: pointer;
}

.select
{
	padding: 0.25em;
	background-color: #fff;
	color: #000;
	  -moz-box-shadow:    inset 0 0 5px #ccc;
   -webkit-box-shadow: inset 0 0 5px #ccc;
   box-shadow:         inset 0 0 5px #ccc;
   display: initial;
   overflow:hidden;
}

.select a:hover 
{
	text-decoration: none;
}

.dropdown
{
    display: none;
	border: 1px solid #333;
	  -moz-box-shadow: 0 0 10px #666;
   -webkit-box-shadow: 0 0 10px #666;
   box-shadow:         0 0 10px #666;
   position: absolute;
   top: 11.9vh;
   right: 29%;
   z-index: 999;
   background-color: #fff;
   width: 12vw;
   font-size: 120%;
}

.dropdown li
{
	list-style-type: none;
}

.dropdown a
{
	cursor: pointer;
}

.form-layout
{
	position: absolute;
	top: 15vh;
	left: 18vw;
	padding: 1em;
	width: 15vw;
	background-color: #eee;
	border: 1px solid #ccc;
	-moz-box-shadow: 0 0 10px #666;
	-webkit-box-shadow: 0 0 10px #666;
	box-shadow:         0 0 10px #666;
	cursor:move;
	z-index: 200;
}

.draggable
{
	background-color: #ffffcc;
}

.form-layout label,
.form-layout input 
{
	display: table-cell !important;
}
