
 
/* menu elements */

.navbar {
	margin: 0;
	padding: 0;
  display: inline-block;
}

.megamenu {
    list-style: none;
    margin: 0 auto;
	padding: 0 1.25em;
	background-color: #eee;
	color: #333;
  -webkit-box-shadow: 4px 0px 5px -2px rgba(204,204,204,1);
  -moz-box-shadow: 4px 0px 5px -2px rgba(204,204,204,1);
  box-shadow: 4px 0px 5px -2px rgba(204,204,204,1);
}

main { 
  display: inline-block !important;
  vertical-align: top;
}

.megamenu li.level1 {
    display: block;
    position: relative;
    padding: 0.25em 0.5em;
    margin: 0.1em 0;
}

.fa-2 {
   font-size: 2em; 
}

#toggle-navbar {
  float: left; 
}

.megamenu a {
	color: #333;
}

.subnav a[target="_blank"]:after {
	padding: 0 0 0 3px;
}

main a[target="_blank"]:after {
	padding: 0 0 0 3px;
}

.megamenu a:hover {
	text-decoration: none;
	background-color: #ccc;
	color: #000;

}

.level1 a {
	font-weight: bold;
    padding: 4px;
  display: block;
}

.level3 a {
	font-weight: normal;
	border-bottom: 0;
	color: #333;
	margin: 0;
  display: block;
}

.default .subnav a:hover {
	background-color: #333;
	color: aliceblue !important;
}

.level3 {
	color: #000;
	padding: 0;
	margin-top: 0;
}

.subnav {
    display: none;
}

.navbar .column {
    display: inline-block;
    position: relative;
    margin: 5px;
}

.subnav li {
	list-style: none;
}

.subnav p {
	clear: both;
}

.subnav p a {
	color: #000066;
}

.subnav a {
	display: block;
	margin: 0 1em;
}

.megamenu li:hover .subnav {
    left: -1px;
	top: auto;
}

/* dynamic classes */

.is-active {
	background-color: #ccc;
	color: #000;
}

.is-inactive {
	background-color: #eee;
	color: #333;
}

.subnav .selected {
	cursor: grab;
}

.chat {
    width: 400px;
}

.helptext{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: absolute;
	z-index:20;
    vertical-align: top;
	display: none;
	width: 33%;
}


/* ribbon */


/* The ribbons */

.corner-ribbon{
  width: 250px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: right;
  padding: 0 2.5em 0 1.2em;
  line-height: 1.2em;
  letter-spacing: 1px;
  color: #f0f0f0;
  font-weight: bold;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Custom styles */

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}


/* Position */

.corner-ribbon.top-right {
 top: 30px;
  right: -60px;
   left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Colour */
.corner-ribbon.green {
background-color: aliceblue;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}
.corner-ribbon a {
	color: #222 !important;
}
.corner-ribbon a:hover {
	background-color: transparent;
	text-decoration: none;
	color: #fff !important;
}

.corner-ribbon:hover {
	color: #fff !important;
	background-color: #1d9ad6 !important;
}

.navbar {
  height: 100%;
  display:none;
  position: absolute;
  z-index: 999;
}


main { 
  width:  100%;
  padding: 2em;
}


header {
  background-color: #444;
  color: #fefefe;
}

header a:link, header a:hover, header a:active, header a:visited {
  text-decoration: none;
  color: #fefefe;
  cursor: pointer;
}


footer {
   font-size: 0.75em; 
}

/* media queries */
@media only screen and (min-width: 1024px) {
  
  body {
    font-size: 16pt; 
  } 
  .navbar {
     width: 15em;
  }
  
  .subnav {
    display: none;
  }

}

@media only screen and (max-width: 1023px) {
  
  .subnav { 
    display: block;
  }  
  .navbar {
     width: 55%;
    margin-bottom: 100px;
    padding: 0 0 175px 0;
  }
  
  body {
    font-size: 14pt; 
  }
  
  main {
    overflow-y: auto;
    overflow-x: hidden;
    height: 90vh;
    margin-bottom: 100px;
    padding: 1em 1em 175px 1em;
  }
 }


